.portfolio-item {
  h2 {
    color: $color-dark;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;

    position: absolute;
    }

}

@import "portfolio-item-1";
@import "portfolio-item-2";
