$fotografie-height-unit: 375px;
$fotografie-height-margin: 30px;

.frontpage {
    .fotografie, {
        .fotografie-item {
            background: #eee;
            width: 100%;
        }

        .fotografie-item-8-4 {
            height: $fotografie-height-unit
        }

        .fotografie-item-4-4 {
            height: $fotografie-height-unit
        }

        .fotografie-item-4-8 {
            height: ($fotografie-height-unit * 2) + $fotografie-height-margin
        }

        .row {
            margin-bottom: 30px;

            .row {
                margin-bottom: 0;
            }
        }

        .fotografie-item-1 {
            margin-bottom: 30px;
            background: #83C82E;
        }

        .fotografie-item-2 {
            background: #EE4345;
            margin-bottom: $fotografie-height-margin;
        }

        .fotografie-item-3 {
            background: #4463E8;
        }

        .fotografie-item-4 {
            background: #1EB786;
            margin-bottom: $fotografie-height-margin;
        }

        .fotografie-item-5 {
            background: #F9B12B;
        }

        .fotografie-item-6 {
            background: #EE4345;
        }

        @include breakpoint(sm) {
            .fotografie-item-8-4,
            .fotografie-item-4-4,
            .fotografie-item-4-8 {
                height: $fotografie-height-unit;
                margin-bottom: $fotografie-height-margin;
            }

            .row {
                margin-bottom: 0;
            }
        }
    }
}