$portfolio-height-unit: 375px;
$portfolio-height-margin: 30px;

.frontpage {
    .portfolio, {
        .portfolio-item {
            background: $color-primary;
            width: 100%;
        }

        .portfolio-item-8-4 {
            height: $portfolio-height-unit
        }

        .portfolio-item-4-4 {
            height: $portfolio-height-unit
        }

        .portfolio-item-6-4 {
            height: $portfolio-height-unit
        }

        .row {
            margin-bottom: 30px;

            .row {
                margin-bottom: 0;
            }
        }

        // Stijlen per portfolio item
        .portfolio-item-1 {

        }
        @include breakpoint(sm) {
            .portfolio-item-8-4,
            .portfolio-item-4-4,
            .portfolio-item-6-4 {
                height: $portfolio-height-unit;
                margin-bottom: $portfolio-height-margin;
            }

            .row {
                margin-bottom: 0;
            }
        }
    }
}
